<!--begin::Popular Questions-->
<div class="card bg-light mb-5 mb-lg-10 shadow-none border-0">
    <!--begin::Header-->
    <div class="card-header align-items-center border-0">
        <!--begin::Title-->
        <h3 class="card-title fw-bold text-gray-900 fs-3">Latest Tutorials</h3>
        <!--end::Title-->
    </div>
    <!--end::Header-->
    <!--begin::Body-->
    <div class="card-body pt-0">
                    <!--begin::Item-->
            <div class="d-flex mb-5">
                <!--begin::Arrow-->
                <i class="ki-outline ki-right-square fs-2 mt-0 me-2"></i>                <!--end::Arrow-->
                <!--begin::Title-->
                <a href="?page=apps/devs/question" class="text-gray-700 text-hover-primary fs-6 fw-bold">
                    How to use customize Metronoc's SASS                </a>
                <!--end::Title-->
            </div>
            <!--end::Item-->
                    <!--begin::Item-->
            <div class="d-flex mb-5">
                <!--begin::Arrow-->
                <i class="ki-outline ki-right-square fs-2 mt-0 me-2"></i>                <!--end::Arrow-->
                <!--begin::Title-->
                <a href="?page=apps/devs/question" class="text-gray-700 text-hover-primary fs-6 fw-bold">
                    How to change web font globally                </a>
                <!--end::Title-->
            </div>
            <!--end::Item-->
                    <!--begin::Item-->
            <div class="d-flex mb-5">
                <!--begin::Arrow-->
                <i class="ki-outline ki-right-square fs-2 mt-0 me-2"></i>                <!--end::Arrow-->
                <!--begin::Title-->
                <a href="?page=apps/devs/question" class="text-gray-700 text-hover-primary fs-6 fw-bold">
                    How to setup dark mode                </a>
                <!--end::Title-->
            </div>
            <!--end::Item-->
                    <!--begin::Item-->
            <div class="d-flex mb-5">
                <!--begin::Arrow-->
                <i class="ki-outline ki-right-square fs-2 mt-0 me-2"></i>                <!--end::Arrow-->
                <!--begin::Title-->
                <a href="?page=apps/devs/question" class="text-gray-700 text-hover-primary fs-6 fw-bold">
                    Metronic file structure and build tools                </a>
                <!--end::Title-->
            </div>
            <!--end::Item-->
                    <!--begin::Item-->
            <div class="d-flex ">
                <!--begin::Arrow-->
                <i class="ki-outline ki-right-square fs-2 mt-0 me-2"></i>                <!--end::Arrow-->
                <!--begin::Title-->
                <a href="?page=apps/devs/question" class="text-gray-700 text-hover-primary fs-6 fw-bold">
                    Metronic integration with Blazor server side                </a>
                <!--end::Title-->
            </div>
            <!--end::Item-->
            </div>
    <!--end: Card Body-->
</div>
<!--end::Popular Questions-->