<!--begin::Toolbar-->
<div class="toolbar d-flex flex-stack flex-wrap mb-5 mb-lg-7" id="kt_toolbar">
   <!--layout-partial:layout/_page-title.html-->
   <!--begin::Actions-->
   <div class="d-flex align-items-center py-1">
      <!--begin::Button-->
      <a href="?page=apps/devs/ask" class="btn btn-flex btn-sm btn-primary fw-bold border-0 fs-6 h-40px" id="kt_toolbar_primary_button">
         Ask Question
      </a>
      <!--end::Button-->
   </div>
   <!--end::Actions-->
</div>
<!--end::Toolbar-->
